.input {
	&-label {
		display: block;
		margin-bottom: 15px;
	}

	&-field {
		text-indent: 10px;
		border-radius: 3px;
		border: 1px solid #000;
		
		&[type="date"] {
			text-indent: 5px;
		
			&::-webkit-inner-spin-button,
			&::-webkit-clear-button {
				display: none;
			}
			&::-webkit-calendar-picker-indicator {
				font-size: 10px;
				margin: 0 5px;
			}
		}
	}
}